//
//  default.xcconfig
//  Odysseus
//
//  Created by samsam on 2/5/26.
//

FEATHER_PROJECT_VERSION=1.0.0
FEATHER_PRODUCT_BUNDLE_IDENTIFIER=com.mirazbakis.Odysseus
FEATHER_DISAMBIGUATOR=${DEVELOPMENT_TEAM}

AD_HOC_CODE_SIGNING_ALLOWED = YES

DEPLOYMENT_LOCATION = YES
DEPLOYMENT_LOCATION[sdk=iphonesimulator*] = NO
DSTROOT = $(SRCROOT)/_build/
